.field {
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(130, 130, 130, 0.3);
}

.field h3 {
    text-align: center;
}

#charcount {
    text-align: right;
}

.table-stroke {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgba(0, 0, 0, .2);
    margin-bottom: 10px;
}
.table-stroke thead {
    border-bottom: 3px double rgba(0, 0, 0, .1);
}
.table-stroke th,
.table-stroke td {
    text-align: left;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, .1);
}

#modal {
    min-width: 320px;
    text-align: center;
}
